@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Body */

body {
    position: relative;
    width: 100%;
}


/* Header */

header {
    position: sticky;
    top: 0;
    background-color: #00a4e4;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.top-header {
    background-color: #003a70;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    order: 1;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 33px;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links .book-appointment {
    background-color: #fff;
    color: #00a4e4;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}


/* Joson Perey logo and text inside the header */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 20px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
}


/* Content Section */

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
}


/* Popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
}

.popup.bgcolor{
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.active {
    transform: translateY(0);
    opacity: 1;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 28%;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup h2 {
    background-color: #003a70;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.popup label {
    font-weight: bold;
}

.popup input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.popup button {
    background-color: #00a4e4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.popup button.login-button {
    background-color: #00a4e4;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.popup button:hover {
    background-color: #0077a0;
}

.popup p {
    margin-top: 10px;
    font-size: 16px;
}

.popup-message p {
    margin-top: 45px;
    margin-bottom: 5px;
}

.popup a {
    color: #00a4e4;
    text-decoration: none;
}

.popup-logofull img {
    width: 250px;
    height: 50px;
    margin-top: 40px;
}

.popup-registernumber img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.link-container p {
    margin: 0;
}


/* Add a contrasting color for input fields of popup forms */

.box {
        background-color: #e2e2e2;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto; /* Center the input field horizontally */
        margin-bottom: 5px;
        transition: border-color 0.3s ease-in-out;
    }


/* Wide of input fields inside the popup forms */

#register-popup input[type="text"],
#register-popup input[type="date"],
#register-popup input[type="email"],
#register-popup input[type="tel"],
#register-popup input[type="password"] {
    width: 80%;
    margin: 0 auto; /* Center the input field horizontally */
    margin-bottom: 5px;
}


/* Registration scrollable form */

.scrollable-form {
    max-height: 230px;
    overflow-y: auto;
}


/* Text of registration form */

.text-registration-form {
    display: flex;
    align-items: center;
}

.text-registration-form p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style the Datepicker container */
.ui-datepicker {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Style the Datepicker header */
.ui-datepicker-header {
    background-color: #00a4e4;
    color: #fff;
    border: none;
}

/* Style the Datepicker title */
.ui-datepicker-title {
    color: #fff;
}

/* Style the Datepicker navigation buttons */
.ui-datepicker-prev, .ui-datepicker-next {
    background-color: #00a4e4;
    color: #fff;
}

/* Style the Datepicker days of the week */
.ui-datepicker th {
    background-color: #00a4e4;
    color: #fff;
}

/* Style the Datepicker days */
.ui-datepicker-calendar a {
    color: #333;
}

/* Style the Datepicker selected date */
.ui-datepicker-calendar .ui-state-active {
    background-color: #00a4e4;
    color: #fff;
}

/* Style the Datepicker today's date */
.ui-datepicker-current-day {
    background-color: #00a4e4;
    color: #fff;
}


/* Close Button */

.close {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 30px;
    color: white;
    background-color: #ff0000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    z-index: 2;
}

.close:hover {
    background-color: white;
    color: #ff0000;
    transform: scale(1.1);
}


/* Scroll-to-top button */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00a4e4;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.scroll-to-top i {
    font-size: 24px;
}


/* Footer Styles */

footer {
    background-color: #003a70;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



/* Media Query for Responsive Header*/

@media screen and (max-width: 977px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: #00a4e4;
        padding: 20px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .nav-links.active li {
        margin: 10px 0;
        text-align: center;
    }
}



/* Media Query for Responsive Popup Form Width on Smaller Screens */

@media screen and (max-width: 1200px) {
    .popup-content {
        width: 40%;
    }
}

@media screen and (max-width: 933px) {
    .popup-content {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .popup-content {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .popup-content {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .popup-content {
        width: 70%;
    }
}



/* Media Query for Responsive Popup Form Full Logo Image on Smaller Screens */

@media screen and (max-width: 375px) {
    .popup-logofull img {
        width: 200px;
        height: 40px;
        margin-top: 40px;
    }
}



/* Media Query for 280 width screens */

@media screen and (max-width: 280px) {
    .popup-logofull img {
        width: 150px;
        height: 30px;
        margin-top: 40px;
    }

    .top-header {
        background-color: #003a70;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .registration-h2 h2 {
        background-color: #003a70;
        color: white;
        padding: 10px;
        font-size: 18px;
        border-radius: 20px 20px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .logo-text {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
    }

    .popup-registernumber img {
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }

    .text-registration-form p {
        font-size: 10px;
        margin-bottom: 10px;
    }
}
