@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Body */

body {
    position: relative;
    width: 100%;
}


/* Header */

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 164, 228, 0.7);
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5);
    z-index: 3;
}

.top-header {
    background-color: #003a70;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.top-header p {
    animation: scaleText 1s infinite alternate;
}

@keyframes scaleText {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    order: 1;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 33px;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav-links li {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-links li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -6px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.nav-links li:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-links .book-appointment {
    position: relative;
    background-color: #fff;
    color: #00a4e4;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    transition: background 0.8s ease-in-out, color 0.8s ease-in-out;
}

.nav-links .book-appointment:hover {
    background-color: #003a70;
    color: #fff;
    font-weight: bold;
    animation: book-appointment-pulse 1s infinite;
}

@keyframes book-appointment-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


/* Joson Perey logo and text inside the header */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 20px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
}


/* Content Section */

.content {
    max-width: 100vw;
    margin-top: 0;
    margin: 0;
}


/* Popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: translateY(-100%);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
}

.popup.bgcolor{
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.active {
    transform: translateY(0);
    opacity: 1;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 28%;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup h2 {
    background-color: #003a70;
    color: white;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.popup label {
    font-weight: bold;
}

.popup input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.popup button {
    background-color: #00a4e4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.popup button.login-button {
    background-color: #00a4e4;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.popup button:hover {
    background-color: #0077a0;
}

.popup p {
    margin-top: 10px;
    font-size: 16px;
}

.popup-message p {
    margin-top: 45px;
    margin-bottom: 5px;
}

.popup a {
    color: #00a4e4;
    text-decoration: none;
}

.popup-logofull img {
    width: 250px;
    height: 50px;
    margin-top: 40px;
}

.popup-registernumber img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.link-container p {
    margin: 0;
}


/* Add a contrasting color for input fields of popup forms */

.box {
        background-color: #e2e2e2;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto; /* Center the input field horizontally */
        margin-bottom: 5px;
        transition: border-color 0.3s ease-in-out;
    }


/* Wide of input fields inside the popup forms */

#register-popup input[type="text"],
#register-popup input[type="date"],
#register-popup input[type="email"],
#register-popup input[type="tel"],
#register-popup input[type="password"] {
    width: 80%;
    margin: 0 auto; /* Center the input field horizontally */
    margin-bottom: 5px;
}


/* Registration scrollable form */

.scrollable-form {
    max-height: 230px;
    overflow-y: auto;
}


/* Text of registration form */

.text-registration-form {
    display: flex;
    align-items: center;
}

.text-registration-form p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style the Datepicker container */
.ui-datepicker {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Style the Datepicker header */
.ui-datepicker-header {
    background-color: #00a4e4;
    color: #fff;
    border: none;
}

/* Style the Datepicker title */
.ui-datepicker-title {
    color: #fff;
}

/* Style the Datepicker navigation buttons */
.ui-datepicker-prev, .ui-datepicker-next {
    background-color: #00a4e4;
    color: #fff;
}

/* Style the Datepicker days of the week */
.ui-datepicker th {
    background-color: #00a4e4;
    color: #fff;
}

/* Style the Datepicker days */
.ui-datepicker-calendar a {
    color: #333;
}

/* Style the Datepicker selected date */
.ui-datepicker-calendar .ui-state-active {
    background-color: #00a4e4;
    color: #fff;
}

/* Style the Datepicker today's date */
.ui-datepicker-current-day {
    background-color: #00a4e4;
    color: #fff;
}


/* Close Button */

.close {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 40px;
    color: white;
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    z-index: 2;
}

.close:hover {
    background-color: white;
    color: #ff0000;
    animation: close-pulse 1s infinite;
}

@keyframes close-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

/* Scroll-to-top button */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00a4e4;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.scroll-to-top i {
    font-size: 24px;
}


/* Footer Styles */

footer {
    background-color: #003a70;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



/* Media Query for Responsive Header*/

@media screen and (max-width: 1000px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: #00a4e4;
        padding: 20px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .nav-links.active li {
        margin: 10px 0;
        text-align: center;
    }
}



/* Media Query for Responsive Popup Form Width on Smaller Screens */

@media screen and (max-width: 1200px) {
    .popup-content {
        width: 40%;
    }
}

@media screen and (max-width: 933px) {
    .popup-content {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .popup-content {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .popup-content {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .popup-content {
        width: 70%;
    }
}



/* Media Query for Responsive Popup Form Full Logo Image on Smaller Screens */

@media screen and (max-width: 375px) {
    .popup-logofull img {
        width: 200px;
        height: 40px;
        margin-top: 40px;
    }
}



/* Media Query for 280 width screens */

@media screen and (max-width: 280px) {
    .popup-logofull img {
        width: 150px;
        height: 30px;
        margin-top: 40px;
    }

    .top-header {
        background-color: #003a70;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .registration-h2 h2 {
        background-color: #003a70;
        color: white;
        padding: 10px;
        font-size: 18px;
        border-radius: 20px 20px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .logo-text {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
    }

    .popup-registernumber img {
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }

    .text-registration-form p {
        font-size: 10px;
        margin-bottom: 10px;
    }
}











/* ------------------------ HOME SLIDER AND HEADING ------------------------ */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slider {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Set z-index to a value lower than the header */
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
    z-index: 1;
}

.slider .list .item {
    flex: 0 0 100%;
    max-width: 100%;
    transition: 1s;
}

.slider .list img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: #fff;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.heading h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.heading p {
    font-size: 18px;
}

.heading .login-heading,
.heading .signup-heading {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

.heading .login-heading {
    text-decoration: none;
    position: relative;
    background-color: #fff;
    color: #003a70;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 50px;
    text-align: center;
}

.heading .signup-heading {
    margin-left: 10px;
    text-decoration: none;
    position: relative;
    background-color: #003a70;
    color: #fff;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 50px;
    text-align: center;
}

.heading .login-heading:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}

.heading .signup-heading:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}

.home-button {
    margin-top: 40px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .slider {
        height: 600px;
    }

    .heading h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .heading p {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .heading h1 {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .heading p {
        font-size: 14px;
    }
}

/* Further adjustments for screens with max-width: 357px */
@media screen and (max-width: 357px) {
    .slider .buttons {
        top: 50%;
        transform: translateY(-50%);
    }

    .slider .buttons button {
        width: 40px;
        height: 40px;
    }

    .heading h1 {
        font-size: 24px;
    }

    .heading p {
        font-size: 12px;
    }

    .heading .login-heading,
    .heading .signup-heading {
        padding: 8px 16px;
    }
}

/* Adjust slider image size for smaller screens */
@media screen and (max-width: 768px) {
    .slider .list .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Further adjustments for screens with max-width: 357px */
@media screen and (max-width: 357px) {
    .slider .list .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



/* ------------------------------------------------------------- */
